html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, big, em, img, s, small, strike, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
list-style-type: none;
text-decoration: none;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: 'Playfair Display', serif;
--bg-color: #ffd800;
}

header{
overflow-y: hidden;
height: 70vh;
    }

nav{
    background-color: #efebe9;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 100;
    right: 0;
    top:-120%;
    opacity: 1;
    transition: all 1s ease-in-out;
    
    .menu{
        background-color: #efebe9;
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10%;
        padding-top: 5rem;

        li{
            margin-left: 1.7rem;
            text-transform: uppercase;

            a{
                color: black;
                font-weight: 600;
                opacity: 1;
                transition: all .1s ease-in;

                &:hover{
                    opacity: .5;
                }
            }
        }
    }
}

nav.nav-close{
    top: 0%;
}

.menu-strip{
    position: relative;

    .toggle-btn{
        ion-icon{
            position: absolute;
            color:black;
            z-index: 2000;
            font-size: 1.7rem;
            left: 80%;
            margin-top: 10%;
            cursor: pointer;
        }

    }
}



nav.hide{
    top: -100%;
}


#logo{
    font-size: 1.7rem;
    position: absolute;
    color: black;
    z-index: 10;
    margin-top:2rem;
    left: 10%;
    width: 4rem;
}

section{
    display: flex;
    height: 120vh;
    justify-content: center;
    align-items: center;
}

.hero{
    height: 100%;
    width: 100%;
    position: relative;
    overflow-X: hidden;

    img{
        width: 100%;
        height: 98%;
        object-fit: cover;
        object-position: 0 -350px;
    }

    .headline{
    position: absolute;
    font-size: 4rem;
    top: 15rem;
    left: 2rem;
    color: white;
    z-index: 3;
}

    .headline2{
        position: absolute;
        top: 19rem;
        left: 5rem;
        font-size: 4rem;
        color: white;
        z-index: 3;
    }

    p{
        position: absolute;
        top: 13rem;
        left: 2.3rem;
        opacity: .5;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

}

.descubrir{
    position: absolute;
    top: 25rem;
    left: 10rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    opacity: 0;
    transition: all .5s ease-in;

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        top: 2.9rem;
        left: -2rem;
        background-color: white;
        transition: all .5s ease-in;
    }

    &:hover{
        left: 30%;
    }

    &:hover::after{
        left: 2rem;
    }
}

.section-1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-X: hidden;

    img{
        object-fit: cover;
    }

    .photo-vertical{
        width: 70%;
        height: 60%;
        margin-left: 20%;
        position: absolute;
        top: 31rem;
        left: 10%;
        z-index: -1;
    }

    .photo-horizontal{
        width: 90%;
        height: 50%;
        position: absolute;
        left: 5%;
        top: 54.7rem;
        z-index: 10;
    }
    
}

.section-2{
    width: 100%;
    height: 100vh;
    
    .section-2-wrapper{
        height: 40%;
        width: 10rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    .section2-text-wrapper{
        width: 10rem;
        
        .s2-title{
            color: white;
            font-size: .5rem;
            opacity: .6;
            text-transform: uppercase;
            letter-spacing: .2rem;
            position: absolute;
            top: -10rem;
            left: -6rem;
            width: 10rem;
        }

        h1{
            color: white;
            font-size: 2rem;
            position: absolute;
            top: -4rem;
            left: -10rem;
        }

        h1:nth-of-type(2){
            position: absolute;
            top: -1rem;
            left: -6rem;
            margin-bottom: 3rem;
        }

        .s2-text{
            width: 15rem;
            height: 20rem;
            color: white;
            font-size: 1rem;
            line-height: 1.5rem;
            opacity: .6;
            position: relative;
            left: -6rem;
            top: 4rem
        }

        a{
            position: absolute;
            font-size: .9rem;
            text-transform: uppercase;
            color: white;
            font-weight: 600;
            opacity: 1;
            top: 18rem;
            left: -6rem;
            transition: all .5s ease-in;

        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            top: 2rem;
            left: -1rem;
            background-color: white;
            transition: all .5s ease-in;
            }
        }
    }

    .s2-img{
        position: absolute;
        transform: translate(0, 22rem);
        height: 30rem;
        object-fit: cover;
    }
    
}

#BgVideo{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -99;
    overflow-x: hidden;
    position: relative;
    filter: brightness(50%);
    
}
}

.section-3{
width: 100%;
height: 200vh;

.section-3-wrapper{
    width: 100%;
    height: 190vh;
    display: flex;
    flex-direction: column;
    margin-top: -15rem;

    .section-3-title{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 12%;

        p{
            font-size: 1.5rem;
            position: relative;
        }

        a{
            position: relative;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: black;
            font-weight: 600;
            opacity: 1;
            transition: all .4s ease-in;

            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                top: 2rem;
                left: -2rem;
                background-color: black;
                transition: all .4s ease-in;
                }

            &:hover::after{
                left: 2rem;
            }
        }
    }

    .section-3-galery{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        position: relative;
        top: 2rem;
        margin-bottom: 3rem;
        a{
            height: 28rem;
            width: 14rem;
            transition: all .2s ease-in;

            img{
                width: 15rem;
                object-fit: cover;
                position: relative;
            }

            p{
                color: black;
                font-size: 1rem;
                text-transform: uppercase;
                position: relative;
                top: .5rem;
            }

            .fa-plus{
                position:absolute;
                font-size: 2rem;
                color: white;
                top: 15rem;
                margin-left: 2rem;
                opacity: 0;
                transition: all .5s ease-in;
            }

            &:hover{
                filter: brightness(.7);
            }

            &:hover .fa-plus{
                opacity: 1;
            }
        }
    }
}
}

.section-4{
    width: 100%;
    height: 70vh;
    background-color: black;

    blockquote{
        color: white;
        font-size: 1.4rem;
        text-align: center;
        line-height: 2rem;

        cite{
            font-size: 1rem;
            opacity: .5;
        }
    }
}

.section-5{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .insta-social{
        height: 60vh;
        width: 100%;
        background-color: #efebe9;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p{
            font-size: 2rem;
            position: relative;

            &::before{
                content: "";
                height: 15rem;
                width: .1rem;
                background-color: rgb(126, 126, 126);
                position: absolute;
                left: 50%;
                top: -18rem;
            }
        }

        a{
            color:black;
            letter-spacing: .4rem;
            font-size: 1.4rem;
            text-transform: uppercase;
            margin-top: 1rem;
        }
    }

    footer{
        width: 100%;
        height: 60vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .social{
            display: flex;
            justify-content: space-between;
            padding: 0 10%;
            margin-top: 8rem;

            .social-icons{
                display: flex;
                justify-content: space-between;
                width: 100%;
                
                a{
                    font-size: 1.5rem;
                    color: whitesmoke;
                }
            }

            .right-info ul{
                display: none;
            }
        }

        p{
            color: white;
            margin-bottom: 5rem;
            padding: 0 10%;
            opacity: .5;
            font-size: .7rem;
        }
    }
}

//COLECCIONES//
.nav-links{
    height: 100vh;
    display: flex;
    align-items: center;

    .wrapper{
        width: 80%;
        height: 80%;
        position: relative;
        background-color: white;
        left: 8%;
        z-index: 10;
        

        .heading{
            position: absolute;
            left: 40%;
            top: 5rem;
            background-color: white;
            padding: 1.8rem;
            opacity: 0;
            width: 11.1rem;
            .colections-title{
                font-size: .8rem;
                opacity: .5;
                text-transform: uppercase;
                letter-spacing: .2rem;
            }

            h4{
                font-size: 2rem;
                left: .4rem;
                position: absolute;
            }

            .verano-text{
                position: relative;
                top: 1.8rem;
                left: 2rem;
            }

            p{
                font-size: .6rem;
                line-height: 1rem;
                margin-top: 2rem;
                text-align: center;
            }
        }
    }

    .content{
        .img-sp-sm{
            position: absolute;
            top: -2rem;
            left: 0;
            width: 20rem;
            object-fit: cover;
            height: 17rem;
            z-index: -10;
        }
    }
}

.section-colecciones-1{
    width: 100%;
    height: 80vh;
    margin-top: -5rem;

    .images{
        width: 90%;
    }

    .glide__slide img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    .glide__slide{
        transition: .3s linear;
        height: 50vh;
        width: 100%;
    }

    .glide__slides{
        overflow: visible;
        width: 100%;
    }
}

.section-colecciones-2{
    display:none;
}

.section-colecciones-3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: -1rem;
    height: 660vh;

    .full-collection .full-collection-title{
        font-size: 1rem;
        position: relative;
        text-transform: uppercase;
        letter-spacing: .2rem;
        margin-bottom: 3rem;
        padding-left: 20%;
        width: max-content;
    }

    .full-collection-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;

        .full-collection-item{
            display: flex;
            flex-direction: column;
            width: 15rem;
            height: 25rem;
            margin-top: 2rem;
            transition: all .2s ease-in;
            position: relative;

            img{
                width: 90%;
                height: 27rem;
                object-fit: cover;
                
            }

            .item-desc{
                h3{
                    font-weight: 200;
                    text-transform: uppercase;
                    margin-top: .2rem;
                    font-size: .8rem;
                }
            }

            .hover-desc{
                position: absolute;
                color: black;
                display: flex;
                flex-direction: column;
                height: 100%;
                padding: 3%;
                width: 100%;
                opacity: 0;
                transition: all .2s ease-in;
                z-index: 20;
                

                h5{
                    text-transform: uppercase;
                    z-index: 20;
                }
                p{
                    margin-top: 1.5rem;
                    width: max-content;
                    z-index: 20;
                }
            }

            &:hover .hover-desc{
                opacity: 1;
            }

            &:hover img{
                opacity: .2;
            }
        }
    }
}

//NOSOTROS//
.nosotros-info{
    background-color:#efebe9;
    height: 90vh;
    width: 100%;
    z-index: -1;

    .heading-nosotros{

        h3{
            font-size: .9rem;
            text-transform: uppercase;
            opacity: .5;
            position: absolute;
            top: 20%;
            left:30%;
            transform: translate(-50%, -50%);
            letter-spacing: .3rem;
            opacity: 0;
        }

        .heading-text1,
        .heading-text2{
            font-size: 3rem;
            position: absolute;
            top: 40%;
            left:30%;
            transform: translate(-50%, -50%);
            letter-spacing: .3rem;
            opacity: 0;
        }

        .heading-text1{
            margin-left: 2rem;
        }

        .heading-text2{
            margin: 4rem 0 0 4rem;
        }

    }
}

.section-nosotros-1{
    margin-top: 18rem;
    width: 94%;
    height: 140vh;
    
    .wrapper-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .heading-2{
            width: 80%;
        }

        .text-1,
        .text-2{
            font-size: 2rem;
        }

        .text-2{
            position: relative;
            left: 20%;
            margin-bottom: 2rem;
        }

        .text-full-dec{
            width: 80%;
            position: absolute;
            left: 10%;
            font-size: .9rem;
            line-height: 1.6rem;
            margin-bottom: 2rem;
        }

        .content-3{
            .img-sp-sm{
            margin-top: 22rem;
            width: 90%;
            padding-left: 20%;
            }
        }
    }
}

.section-nosotros-2{
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 25rem;

    .sewing-1{
        width: 85%;
        height: 50%;
        position: relative;
        object-fit: cover;
        top: -10rem;
    }

    .sewing-2{
        width: 60%;
        height: 90%;
        position: relative;
        top: 1rem;
        left: -3%;
        object-fit: cover;
    }
}
//Locales//

    .hero-locales{
        height: 100vh;
        width: 100%;
        position: relative;

        img{
            width: 100%;
            height: 120%;
            object-fit: cover;
            filter: brightness(.6)
        }

        .locales-main{
            width: 55%;
            height: 28rem;
            background-color: black;
            position: absolute;
            z-index: 500;
            top: 3rem;
            left: 40%;
            color: white;
            padding: 8%;
            opacity: 0;

            h2{
                opacity: .5;
                text-transform: uppercase;
                letter-spacing: .2rem;
                font-size: .7rem;
                margin-bottom: 2rem;
            }

            h1{
                font-size: 2.5rem;
                font-weight: 200;
                margin-bottom: 1.5rem;
            }

            p{
                opacity: .5;
                text-transform: uppercase;
                font-size: .8rem;
                margin-bottom: 2rem;
            }

            a{
                opacity: .5;
                text-transform: uppercase;
                font-size: .7rem;
                color: white;
            }
        }
    }

    .locales-info{
        width: 100%;
        height: 150vh;
        position: relative;

        .main-locales{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .locales-group{
                display: flex;
                justify-content: flex-start;
                padding-left: 5%;
                margin-bottom: 5rem;

                .locales-title{
                    margin-right: 5rem;
                    font-size: 3rem;
                }

                .locales-items{
                    position: relative;
                    top: -2rem;
                    display: flex;
                    flex-wrap: wrap;
                    .local-item{
                        width: 19rem;
                        h1{
                            text-transform: uppercase;
                            letter-spacing: .2rem;
                            font-size: .9rem;
                            margin: 4rem 0 2rem 0;
                        }

                        p{
                            margin-bottom: 2rem;
                            font-weight: 200;
                        }

                        p:nth-of-type(1){
                            opacity: .5;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
@media screen and (min-width: 700px) {
    header{
        overflow-y: hidden;
        height: 100vh;
        }

    section{
        height: 120vh;
    }

    .hero{
        height: 100%;
        width: 100%;

        img{
            object-position: 0 -200px;
        }

        .headline{
            left: 17rem;
        }

        .headline2{
            left: 21rem;
        }

        p{
            top: 13rem;
            left: 17rem;
            opacity: .7;
        }

        .descubrir{
            top: 30rem;
            left: 22rem;
            color: white;

            &:hover{
                left: 50%;
            }

            &:hover::after{
                left: 50%;
            }
        }
    }

    .section-1{
        .photo-vertical{
            width: 50%;
            height: 80%;
            margin-left: 20%;
            position: absolute;
            top: 40rem;
            left: 27%;
            z-index: -1;
        }

        .photo-horizontal{
            width: 90%;
            height: 40%;
            left: 5%;
            top: 72.5rem;
        }
    }

    .section-2{
        
        .section-2-wrapper{
            height: 40%;
            width: 20rem;
        
            .s2-title{
                font-size: .5rem;
                position: absolute;
                top: 50rem;
                left: -30rem;
                width: 5rem;
            }

            .s2-img{
                transform: translate(12rem, 13rem);
                height: 25rem;
            }
        
        }
    }

    .section-3{
        width: 100%;
        height: 160vh;

        .section-3-wrapper{
            margin-top: -33rem;

            .section-3-galery{
                width: 100%;
                top: 2rem;
                margin-bottom: 3rem;
                padding: 0 10%;

                a{
                    height: 28rem;
                    width: 14rem;

                    img{
                        width: 15rem;
                    }

                    p{
                        font-size: 1rem;
                        top: .5rem;
                    }

                    .fa-plus{
                        position:absolute;
                        font-size: 2rem;
                        top: 15rem;
                        margin-left: 2rem;
                    }
                }
            }
        }
    }

    .section-5{
        width: 100%;
        height: 100%;

        .insta-social{
            height: 60vh;
            width: 100%;

            p{
                font-size: 2rem;
            }

            a{
                font-size: 1.4rem;
                margin-top: 1rem;
            }
        }

        footer{

            .social{

                .social-icons{
                    width: 50%;
                    
                }

                .right-info ul{
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;

                    li{
                        margin-left: 2.5rem;

                        a{
                            color: whitesmoke;
                            text-transform: uppercase;
                            font-size: .7rem;
                        }
                    }
                }
            }
        }
    }
    //COLECCIONES//
    .nav-links{

        .wrapper{
            width: 80%;
            height: 80%;
            left: 8%;            

            .heading{
                left: 40%;
                top: 5rem;
                padding-top: 2rem;
                padding-left: 3rem;
                width: 24rem;
                height: 28rem;
                .colections-title{
                    font-size: 1rem;
                    margin-bottom: 2rem;
                }

                h4{
                    font-size: 3rem;
                    left: 1.5rem;
                }

                .verano-text{
                    top: 2.3rem;
                    left: 4.3rem;
                }

                p{
                    font-size: 1rem;
                    line-height: 1.5rem;
                    margin-top: 4rem;
                    width: 66%;
                    text-align: left;
                }
            }
        }

        .content{
            .img-sp-sm{
                top: -2rem;
                left: -3rem;
                width: 110%;
                height: 30rem;
            }
        }
    }

    .section-colecciones-1{
        height: 80vh;
        margin-top: 5rem;

        .images{
            width: 90%;
        }

        .glide__slide img{
            height: 80vh;
        }

        .glide__slide{
            height: 80vh;
        }
    }

    .section-colecciones-2{
        width: 100%;
        margin-top: 10rem;
        height: 120vh;
        display: flex;
        justify-content: space-around;

        img{
            width: 50%;
            object-fit: cover;
            height: 75%;
        }

        .collecion-about{
            width: 40%;
            display: flex;
            flex-direction: column;

            h1{
                font-weight: 200;
                font-size: 2rem;
                position: relative;
                top: -2rem;
                left: 2rem;
                width: 9rem;
            }

            h1:nth-of-type(2){
                position: relative;
                top: -2rem;
                left: 4rem;
                width: 2.5rem;
            }

            p{
                width: 60%;
                height: 20rem;
                font-size: .7rem;
                line-height: 1.5rem;
                opacity: .6;
                position: relative;
                left: 4rem;
            }
        }
    }

    .section-colecciones-3{
        height: 290vh;
    }

    //Locales//

    .hero-locales{

        img{
            height: 100%;
        }

        .locales-main{
            height: 33rem;
            top: 10rem;
        }
    }
}



@media screen and (min-width: 992px) {
    header{
        overflow: hidden;
        height: 100vh;
        }
        
        nav{
            height:10vh;
            width:100%;
            display: flex;
            justify-content: space-around;
            position: fixed;
            right: 0;
            top:0;
            opacity: 1;
            transition: all 1s ease-in-out;
            background-color: transparent;

        .menu{
            background-color: transparent;
            height: 0%;
            flex-direction: row;
            justify-content: center;
            padding: 1.5rem 0 0 0;
            margin-left: 6rem;
        }
    }



    #logo{
        font-size: 2rem;
        right:0;
        margin-left: -5%;
    }

    .menu-strip{
    display: none;

    }

    section{
        height: 120vh;
    }

    .hero{
        height: 100%;
        width: 100%;

        img{
            object-position: 0 -500px;
        }

        .headline{
            left: 32rem;
        }

        .headline2{
            left: 36rem;
        }

        p{
            left: 32rem;;
        }

        .descubrir{
            top: 30rem;
            left: 36rem;
            color: white;

            &:hover{
                left: 3rem;
            }

            &:hover::after{
                left: 3rem;
            }
        }
    }

    .section-1{
        .photo-vertical{
            width: 40%;
            height: 70%;
            margin-left: 20%;
            position: absolute;
            top: 45rem;
            left: 38%;
            z-index: -1;
        }

        .photo-horizontal{
            width: 60%;
            height: 45%;
            left: 5%;
            top: 70rem;
        }
    }

    .section-2{
        
        .section-2-wrapper{
            height: 40%;
            width: 20rem;
        
            .s2-title{
                font-size: .5rem;
                position: absolute;
                top: 50rem;
                left: -30rem;
                width: 5rem;
            }

            .s2-img{
                transform: translate(17rem, 8rem);
                height: 30rem;
            }
        
        }
    }

    .section-3{
        width: 100%;
        height: 160vh;

        .section-3-wrapper{
            margin-top: -33rem;

            .section-3-galery{
                width: 100%;
                top: 2rem;
                margin-bottom: 3rem;
                padding: 0 10%;

                a{
                    height: 28rem;
                    width: 14rem;

                    img{
                        width: 15rem;
                    }

                    p{
                        font-size: 1rem;
                        top: .5rem;
                    }

                    .fa-plus{
                        position:absolute;
                        font-size: 2rem;
                        top: 15rem;
                        margin-left: 2rem;
                    }
                }
            }
        }
    }

    .section-5{
        width: 100%;
        height: 100%;

        .insta-social{
            height: 60vh;
            width: 100%;

            p{
                font-size: 2rem;
            }

            a{
                font-size: 1.4rem;
                margin-top: 1rem;
            }
        }

        footer{

            .social{

                .social-icons{
                    width: 30%;
                    
                }

                .right-info ul{
                    li{
                        margin-left: 2.5rem;

                        a{
                            color: whitesmoke;
                            text-transform: uppercase;
                            font-size: .7rem;
                        }
                    }
                }
            }
        }
    }
    //COLECCIONES//
    .nav-links{

        .wrapper{
            width: 100%;
            height: 100%;
            left: 0;          

            .heading{
                left: 54%;
                top: 15rem;
                padding-top: 2rem;
                padding-left: 3rem;
                width: 24rem;
                height: 33rem;

                .colections-title{
                    font-size: 1rem;
                    margin-bottom: 2rem;
                }
            }
        }

        .content{
            .img-sp-sm{
                top: -2rem;
                left: -3rem;
                width: 110%;
                height: 50rem;
            }
        }
    }

    .section-colecciones-1{
        height: 90vh;
        margin-top: 5rem;

        .images{
            width: 90%;
        }

        .glide__slide img{
            height: 80vh;
        }

        .glide__slide{
            height: 80vh;
        }
    }

    .section-colecciones-2{
        width: 100%;
        margin-top: 10rem;
        height: 90vh;


        img{
            height: 90%;
        }

        .collecion-about{
            width: 40%;

            h1{
                font-size: 2rem;
            }

            p{
                width: 60%;
                height: 20rem;
                font-size: 1rem;
                line-height: 1.5rem;
                opacity: .6;
                position: relative;
                left: 4rem;
            }
        }
    }

    .section-colecciones-3{
        height: 220vh;
    }

    //NOSOTROS//
    .nosotros-info{
        height: 90vh;

        .heading-nosotros{
            h3{
                top: 30%;
                left:30%;
            }

            .heading-text1,
            .heading-text2{
                font-size: 5rem;
                position: absolute;
                top: 50%;
                left:40%;
                line-height: 8rem;
            }

            .heading-text1{
                margin-left: 6rem;
            }

            .heading-text2{
                margin: 5rem 0 0 8rem;
            }

        }
    }

    .section-nosotros-1{
        margin-top: 0;
        width: 94%;
        height: 140vh;
        
        .wrapper-2{
            flex-direction: row;

            .heading-2{
                width: 80%;
            }

            .text-1,
            .text-2{
                font-size: 2rem;
                width: 20rem;
                padding-left: 20%;
            }

            .text-2{
                left: 20%;
                margin-bottom: 2rem;
            }

            .text-full-dec{
                width: 80%;
                left: 10%;
                font-size: .9rem;
                line-height: 1.6rem;
                margin-bottom: 2rem;
            }

            .content-3{
                .img-sp-sm{
                margin-top: 26rem;
                width: 39rem;
                padding-left: 20%;
                }
            }
        }
    }

    .section-nosotros-2{
        width: 100%;
        height: 120vh;
        margin-top: 48rem;

        .sewing-1{
            width: 100%;
            height: 70%;
            position: relative;
            object-fit: cover;
            top: -10rem;
        }

        .sewing-2{
            width: 60%;
            height: 100%;
            position: relative;
            top: -9.9rem;
            left: 20%;
            object-fit: cover;
        }
    }
    //Locales//

    .hero-locales{

        .locales-main{
            width: 32%;
            left: 60%;
        }
    }

    .locales-info{

        .main-locales{

            .locales-group{
                padding-left: 20%;

                .locales-title{
                    margin-right: 15rem;
                }
            }
        }
    }
}
@media screen and (min-width: 1200px) {

    nav{
        .menu{
            background-color: transparent;
            height: 0%;
            flex-direction: row;
            justify-content: flex-end;
            padding: 1.5rem 0 0 0;
            margin-left: 0;
            margin-right: 2rem;
        }
    }

    .hero{

        img{
            object-position: 0 -800px;
        }

        .headline{
            left: 38rem;
        }

        .headline2{
            left: 42rem;
        }

        p{
            left: 38rem;
        }

        .descubrir{
            top: 30rem;
            left: 42rem;

            &:hover{
                left: 55%;
            }

            &:hover::after{
                left: 2rem;
            }
        }
    }

    .section-1{
        .photo-vertical{
            width: 40%;
            height: 70%;
            margin-left: 20%;
            position: absolute;
            top: 45rem;
            left: 38%;
            z-index: -1;
        }

        .photo-horizontal{
            width: 60%;
            height: 45%;
            left: 5%;
            top: 70rem;
        }
    }

    .section-2{
        
        .section-2-wrapper{
            height: 70%;
            width: 20rem;

            .section2-text-wrapper{
                .s2-title{
                font-size: .9rem;
                position: absolute;
                top: -5rem;
                left: -10rem;
                width: 15rem;
                }

                h1{
                    font-size: 3.5rem;
                    margin-bottom: 1rem;
                }

                .s2-img{
                    transform: translate(17rem, 8rem);
                    height: 40rem;
                }
            }
        
            
        
        }
    }

    .section-3{
        width: 100%;
        height: 100vh;

        .section-3-wrapper{
            margin-top: -18rem;

            .section-3-galery{
                width: 100%;
                top: 2rem;
                margin-bottom: 3rem;
                padding: 0 10%;

                a{
                    height: 28rem;
                    width: 13rem;

                    img{
                        width: 13rem;
                    }

                    p{
                        font-size: 1rem;
                        top: .5rem;
                    }

                    .fa-plus{
                        position:absolute;
                        font-size: 2rem;
                        top: 15rem;
                        margin-left: 2rem;
                    }
                }
            }
        }
    }

    .section-5{
        width: 100%;
        height: 100%;

        .insta-social{
            height: 60vh;
            width: 100%;

            p{
                font-size: 2rem;
            }

            a{
                font-size: 1.4rem;
                margin-top: 1rem;
            }
        }

        footer{

            .social{

                .social-icons{
                    width: 30%;
                    
                }

                .right-info ul{
                    li{
                        margin-left: 2.5rem;

                        a{
                            color: whitesmoke;
                            text-transform: uppercase;
                            font-size: .7rem;
                        }
                    }
                }
            }
        }
    }

    //Locales//

    .hero-locales{
        height: 100vh;
        width: 100%;
        position: relative;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(.6)
        }

        .locales-main{
            width: 32%;
            height: 33rem;
            background-color: black;
            position: absolute;
            z-index: 500;
            top: 10rem;
            left: 60%;
            color: white;
            padding: 8%;
            opacity: 0;

            h2{
                opacity: .5;
                text-transform: uppercase;
                letter-spacing: .2rem;
                font-size: .7rem;
                margin-bottom: 2rem;
            }

            h1{
                font-size: 2.5rem;
                font-weight: 200;
                margin-bottom: 1.5rem;
            }

            p{
                opacity: .5;
                text-transform: uppercase;
                font-size: .8rem;
                margin-bottom: 2rem;
            }

            a{
                opacity: .5;
                text-transform: uppercase;
                font-size: .7rem;
                color: white;
            }
        }
    }

    .locales-info{
        width: 100%;
        height: 150vh;
        position: relative;

        .main-locales{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .locales-group{
                display: flex;
                justify-content: flex-start;
                padding-left: 20%;
                margin-bottom: 5rem;

                .locales-title{
                    margin-right: 15rem;
                    font-size: 3rem;
                }

                .locales-items{
                    position: relative;
                    top: -2rem;
                    display: flex;
                    flex-wrap: wrap;
                    .local-item{
                        width: 19rem;
                        h1{
                            text-transform: uppercase;
                            letter-spacing: .2rem;
                            font-size: .9rem;
                            margin: 4rem 0 2rem 0;
                        }

                        p{
                            margin-bottom: 2rem;
                            font-weight: 200;
                        }

                        p:nth-of-type(1){
                            opacity: .5;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 1390px) {

    .hero{

        img{
            object-position: 0 -1100px;
        }

        .headline{
            font-size: 5rem;
            left: 52rem;
        }

        .headline2{
            font-size: 5rem;
            left: 56rem;
        }

        p{
            left: 56rem;
        }

        .descubrir{
            top: 30rem;
            left: 56rem;

            &:hover{
                left: 60%;
            }

            &:hover::after{
                left: 1.5rem;
            }
        }
    }

    .section-1{
        .photo-vertical{
            width: 35%;
            height: 70%;
            margin-left: 27%;
        }

        .photo-horizontal{
            width: 60%;
            height: 70%;
            left: 5%;
            top: 58.7rem;
        }
    }

    .section-2{
        
        .section-2-wrapper{
            height: 70%;
            width: 40rem;

            .section2-text-wrapper{
                .s2-title{
                font-size: .9rem;
                position: absolute;
                top: -5rem;
                left: -10rem;
                width: 15rem;
                }

                h1{
                    font-size: 3.5rem;
                    margin-bottom: 1rem;
                }

                .s2-text{
                    left: -21rem;
                }
            }
            .s2-img{
                    transform: translate(17rem, 0);
                    height: 40rem;
                }
            
        
        }
    }

    .section-3{

        .section-3-wrapper{
            margin-top: -10rem;

            .section-3-galery{
                width: 100%;
                top: 2rem;
                margin-bottom: 3rem;
                padding: 0 10%;

                a{
                    height: 28rem;
                    width: 15rem;

                    img{
                        width: 15rem;
                    }

                    p{
                        font-size: 1rem;
                        top: .5rem;
                    }

                    .fa-plus{
                        position:absolute;
                        font-size: 2rem;
                        top: 15rem;
                        margin-left: 2rem;
                    }
                }
            }
        }
    }

    .section-5{
        width: 100%;
        height: 100%;

        .insta-social{
            height: 60vh;
            width: 100%;

            p{
                font-size: 2rem;
            }

            a{
                font-size: 1.4rem;
                margin-top: 1rem;
            }
        }

        footer{

            .social{

                .social-icons{
                    width: 30%;
                    
                }

                .right-info ul{
                    li{
                        margin-left: 2.5rem;

                        a{
                            color: whitesmoke;
                            text-transform: uppercase;
                            font-size: .7rem;
                        }
                    }
                }
            }
        }
    }

    //COLECCIONES//

    .section-colecciones-2{
        width: 100%;
        margin-top: 10rem;
        height: 110vh;


        img{
            height: 60rem;
        }

        .collecion-about{
            width: 40%;

            h1{
                font-size: 3rem;
                width: 15rem;
            }

            p{
                font-size: 1.4rem;
                letter-spacing: .2rem;
            }
        }
    }

    .section-colecciones-3{
        height: 100vh;
    }

    //NOSOTROS//
    .section-nosotros-1{
        margin-top: -10rem;
        width: 94%;
        height: 120vh;
        
        .wrapper-2{
            display: flex;
            flex-direction: row;

            .heading-2{
                width: 80%;
            }

            .text-1,
            .text-2{
                font-size: 3rem;
            }

            .text-2{
                position: relative;
                left: 20%;
                margin-bottom: 2rem;
            }

            .text-full-dec{
                width: 80%;
                position: absolute;
                left: 10%;
                font-size: .9rem;
                line-height: 1.6rem;
                margin-bottom: 2rem;
            }

            .content-3{
                .img-sp-sm{
                margin-top: 22rem;
                width: 30rem;
                margin-left: 30%;
                }
            }
        }
    }

    .section-nosotros-2{
        width: 90%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin-top: 30rem;

        .sewing-1{
            width: 122%;
            height: 70%;
            top: -1rem;
            left: 0;
        }

        .sewing-2{
            width: 80%;
            height: 50%;
            position: relative;
            top: -1rem;
            left: 21%;
            object-fit: cover;
        }
    }
}


    




